body{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 400;
  color: #828282
}

#main img{
  width: 350px;
  height: 238px;
  margin: 64px auto 32px;
}

h1 {
  font-family: 'Dosis' , sans-serif;
  color: #3f3d56;
  font-size: 32px;
  font-weight: 400;
  margin: 0px auto 16px;
}

h1 span{
  color: #ee24ff;
  font-weight: 700;
}

p{
  width: 540px;
  height: 107px;
  margin: 0 auto 32px;
}

p span , a{
  color: #3f3d56;
  font-weight: 700;
}

#line {
  border: 1px solid #eceff2;
  width: 391px;
  margin: 0 auto 16px;
}

a{
  text-decoration: none;
  margin: 0 auto 40.83px;
}

#links a + a{
  margin-left: 42px;
}

#Wave img {
  width: 1024px;
  height: 104px;
}